node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.output
.vinxi

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml

src/db/migrations
src/db/scripts/out/
src/db/scripts/backup/

src/db/migrations